@import './variables.scss';
.grey {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}
.van-button {
	&.btn-text {
		border: none;
		background: none;
		height: auto;
		padding: 0;
		margin: 0;
	}
	&.van-button--large {
		height: 45px;
		line-height: 45px;
	}
	&.tiny-height {
		height: 36px;
		line-height: 36px;
	}
	&.btn-submit {
	  margin-top: 50px;
	}
}
.van-overlay {
	.wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}
}
.no-content {
	text-align: center;
	padding: 100px 30px;
	font-size: $baseFontSize;
	color: $grey;
}
.van-cell:not(:last-child)::after {
	background: repeat-x top left url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1' height='1'><rect fill='#ebedf0' x='0' y='0' width='1' height='1'/></svg>");
	height: 2PX;
	border-bottom: none;
}